.container {
    position: relative;
    padding-top: 70px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
    text-align: center;
    background-color: rgba(39, 164, 186, 0.769);
    align-items:center;
}

.textBox {
    color:rgba(24, 156, 189, 0.769);
}

.background {
    color:white;
}

.attach {
    text-align: left;
}



