body {
    margin: 0;
    font-family: sans-serif;
    text-shadow: border;
    background-color: rgb(165, 212, 199)
}

.container {
    position: relative;
    padding-top: 70px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
    text-align: center;
    background-color: rgba(241, 244, 245, 0.769);
    align-items:center;
}

.textBox {
    color:rgba(24, 156, 189, 0.769);
}

.background {
    color:rgb(187, 187, 36);
}

.attach {
    text-align: left;
}



