{% extends "base.html" %}
{% block title %}Activity Page
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <center>
    <h1>Activities</h1>
    <font size="70">
    <a  href="Walk">Walk<br></a>
    <a  href="Journal">Journal<br></a>
    <a  href="Meditation">Meditation<br></a>
    
    {% for activityName in activities %}
        <a  href="/activity/{{activityName}}">{{activityName}}<br></a>
    {% endfor %}</font>
    <font size="70"><a href="/addActivity">Add your own activity!</a></font>
    <link rel="stylesheet" href = "{{url_for('static', filename='style.css')}}">

    </center>
    {% block body %} 
    <link rel="stylesheet" href = "{{url_for('static', filename='style.css')}}">
    {% endblock %}
{% endblock %}



