{% extends "base.html" %}
{% block title %}Activity Page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <center>
    <h1>Activities</h1>
    <a  href="Walk">Walk<br></a>
    <a  href="Journal">Journal<br></a>
    <a  href="Meditation">15 minute meditation<br></a>
    
    {% for activityName in activities %}
        <a  href="/activity/{{activityName}}">{{activityName}}<br></a>
    {% endfor %}
    <font size="100"><a href="/addActivity">Add your own activity!</a></font>
    <!-- <form method="POST">
        <p><input type = "activity" name = "activity" placeholder="Enter Here" /></p>
            <p><input type="submit" value="submit"/></p>
    </form> -->

    </center>
    {% block body %} 
        
    {% endblock %}
{% endblock %}



