{% extends "base.html" %}
{% block title %}Add Activity Page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    
        <div class="container" id="container">
             <div style="font-size:35px">Add your own activity!</div>
            <form method="POST" action="/activity">
                <p><input type = "activity" class="form-control" name = "activity" placeholder="Activity Name" required/></p>
                <br>
                <label for="description"><h3>Describe Your New Activity!</h3></label>
                <textarea class="form-control" id="description" name = "description"  rows="3" name="achieve" required></textarea>
                <br><br>
                
                <a href="/activity"><input type="button" class="btn btn-outline-dark" name="button" value="Back"/></a>
                <a href="/profile"><input type="submit" class="btn btn-outline-dark" name="button" value="Submit"/></a>
            </form>
        </div>
    
     
    {% block body%} 
    {% endblock %}
{% endblock %}