{% extends "base.html" %}
{% block title %}Add Activity Page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <center>
        <div class="container" id="container">
            <font size="100">Add your own activity!</font>
            <form method="POST" action="/activity">
                <p><input type = "activity" class="form-control" name = "activity" placeholder="Activity Name", Nullable=False /></p>
                <br>
                <label for="description"><h3>Describe Your New Activity!</h3></label>
                <textarea class="form-control" id="description" name = "description" rows="3" name="achieve"></textarea>
                <br><br>
                <a href="/activity"><input type="submit" value="submit"/></a>

            </form>
        </div>
    </center>
     
    {% block body%} 
    {% endblock %}
{% endblock %}