<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" />
        <link href="https://fonts.googleapis.com/css2?family=Coiny&display=swap" rel="stylesheet">
        

        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="/static/images/icon.png"> 
    </head>
    <body>
        <div class="navbar">
          
          <a href="/">
            <img src= "/static/images/logoBC.png" alt="logo" style="width:100px;">
            <!-- <img src= "/static/images/buddyCareLogo.png" alt="logo" style="width:100px;"> -->

          </a>

            <!-- <a href="/home" style="font-family: 'Coiny'; font-size:35px;">BuddyCare</a> -->
            <!-- <a href="/view" style="font-size:25px">View</q> -->
            <a href="/activity" style="font-size:25px">Activity</a>
            <a href="/profile" style="font-size:25px">Profile</a>

            <a href="/login" style="font-size:25px">Login</a>
            <a href="/logout" style="font-size:25px">Logout</a>
        
            <!-- <ul class="nav navbar-nav navbar-right">
             
              <li class="dropdown" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More<span class="caret"></span></a>
          
                <ul class="dropdown-menu"">
                  <a class="dropdown-item" href="#">Action</a>
                  <li><a href="#">Start Learning</a></li>
                  <li><a href="#">View All Courses</a></li>

                </ul>
              </li>
            </ul>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->


        </div>

        <div class = "container-fluid">
            {% block content %}
            {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" href = "{{url_for('static', filename='style.css')}}"> -->
    
      </body>
</html>

