{% extends 'base.html' %}
{% block title %}Choose Activity Page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <center>
    <h1>Activity Chosen: {{name}}</h1>
    {% block body %}
        <h1>Show Checkboxes</h1>

        <form method="POST">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1">Choose this activity!</label><br>
            <input type="submit" value="Submit">
        </form>
    </center>
    {% endblock %}
{% endblock %}