{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <p>hello bitches</p>
    <form method="POST">
        <div class="field">
          <label class="label">Create a username: </label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" name="newusername" placeholder="Username">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label">Create a password: </label>
          <p class="control has-icons-left">
            <input class="input" type="password" name="newpassword" placeholder="Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button type="submit" class="button is-success">
              Create Account
            </button>
          </p>
        </div>
      </form>





{% endblock %}