{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-success" role="alert">
              {{msg}}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div class="container">
      
      <form method="POST">
          <h1>Create An Account</h1>
          <div class="field">
            <p>Create a username: </p>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" name="newusername" placeholder="Username" required>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
          <br>
          <div class="field">
            <p>Create a password: </p>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="password" name="newpassword" placeholder="Password" required>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
          <br>
          <div class="field">
            <p class="control">
              <button type="submit" class="btn btn-outline-dark btn-sm">Create Account</button>
            </p>
          </div>
        </form>
      </div>


      



{% endblock %}