{% extends "base.html" %}
{% block title %}Edit Your Profile{% endblock %}
{% block content %}
<html>
    <head>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Edit Buddy Status</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
            <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
          </head>
    </head>

    <body>
        <!-- <section class="hero is-success is-fullheight"> -->
          <!-- <div class="hero-body"> -->
            <div class="container">
              <h1 class="title">
                Edit Your Profile!
              </h1>
             
                <form method="POST", action="/{{user}}/edit">
                <fieldset>
                        <div>
                        
                        <div class="buddy">  
                            <input type="radio" value="yes" id="yes" name="buddy" required/>
                            <label for="yes" class="radio">im desperate for a buddy</label>
                            <br>
                            <input type="radio" value="no" id="no" name="buddy" required/>
                            <label for="no" class="radio">get away from me yuck</label>
                        </div>
                        
                        </div>
                    
                </fieldset>
                <button type="submit" class="btn btn-outline-light">Submit</button>
                </form>

            </div>
          <!-- </div> -->
        <!-- </section> -->
      </body>


    
  </html>
{% endblock %}