{% extends "base.html" %}
{% block title %}Home Page
{% block content %}
 
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<center>
    <h1>Buddy Care</h1>
    <p>Mental health is important, do it with a buddy *thumbs up*</p>

</center>

<center>
<div id=users>
{% for item in values %}
        {% if userFound %}
            {% if item.username == user.budName %}
            your loving buddy: <a  href="/{{item.username}}">{{item.username}}!</a><br>
            {% endif %}

            {% if (not item == user) and (item.bud == True) %}
            profile: <a  href="/{{item.username}}">{{item.username}}!</a><br>
            {% endif %}

        {%else %}
            {% if item.bud == True %}
            profile: <a  href="/{{item.username}}">{{item.username}}!</a><br>
            {% endif %}

        {% endif %}
    {% endfor %}
</div>
</center>
{% endblock %}