{% extends "base.html" %}
{% block title %}Activity Page{% endblock %}
{% block content %}
    <center>
    <h1>In your nose, out your mouth</h1>
     <h1>Activity Chosen: {{name}}</h1
    {% block body %} 
        <h1>Show Checkboxes</h1>

        <form method="POST">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <center>
            <label for="vehicle1">Choose this activity!</label><br>
            <input type="submit" value="Submit">
            </center>
        </form>

    {% endblock %}
{% endblock %}

{}
