{% extends 'base.html' %}
{% block title %}Choose Activity Page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <center>
    <h1>Activity Chosen: Meditation</h1><br>
    <p>Activity Description:</p>
    <p>Breathe in through your nose, and out through your mouth. Deep breaths.<p3>
    {% block body %}
        <!--<h1>Show Checkboxes</h1>--><br>
        
        <form method="POST">
            <a href="/activity"><button type="button" class="btn btn-outline-light">Back</button></a>
            <input type="submit" class="btn btn-outline-light" id="vehicle1" name="vehicle1" value="Choose this!"/></a>
        </form>
    </center>
    {% endblock %}
{% endblock %}

