{% extends "base.html" %}
{% block title %}Profile Page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-success" role="alert">
              {{msg}}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
  
  <body>
    <div class="container">
      <h1 class="title">Your Profile</h1>
      <h1>{{user.username}}</h1>
      <div class="image" class="left" style="float: left; padding: 0 20px 20px 0;; width: 200px; overflow: hidden; height: 200px; display: block; margin: 40px 100px 40px"> 
        <img src= "static/images/{{ user.image_file }}" class="image" alt="default">
      </div>
      
      <div class="textContainer">
        <h2 class="subtitle" style= "font-size:30px; ">
          <p class="systemText">Your Statistics:</p>
          <p class="userText">User: #{{user.id}}</p>
          <p class="userText">Still looking for a buddy?: {{user.bud}}</p>
          <p class="userText">{% if user.budName%}Buddy: {{user.budName}}{% endif %}</p>
          <p class="userText">
          {% if user.activity %}
            Current Activity: {{user.activity}}
          {% else %}
            Current Activity: Hasn't chosen yet 
          {% endif %}</p>
          <p class="userText">Days Checked-in: {{user.streak}}</p></h2>
      </div><br>

      <div>
        <br>
        <b><p class="about">About me...</p></b><b><p class="answers">{{user.bio}}</p></b>
        <b><p class="about">I want to...</p></b><b><p class="answers">{{user.achieve}}</p></b>
        <b><p class="about">Here's a joke!</p></b><b></b><p class="answers">{{user.joke}}</p></b>
      </div>
            <form method="POST">

              <a href="/Questions"><button type="button" class="btn btn-outline-dark">Edit Your Profile!</button></a>

              {% if user.budName == None %}
                <a href="/edit"><button type="button" class="btn btn-outline-dark" name="buddy" value="Edit Status">Edit Your Buddy Status!!</button></a>
              {% else %}
                <a href="/profile"><input type="submit" class="btn btn-outline-dark" name="button" value="Remove Buddy"/></a>
              {% endif %}
              
              <a href="/profile"><input type="submit" class="btn btn-outline-dark" name="button" value="Check In"></button></a>
            </form>
      </div>
  </body>


{% endblock %}

