{% extends "base.html" %}
{% block title %}Profile Page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"> -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  
  <body>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container">

          <div style="width: 200px; height: 200px; overflow: hidden; display: block; margin: 0 auto;"> 
              <img src= "static/images/sunflowers.jpg " class="center" alt="default">
              <!-- <img src= " {{ user.image_file }}" class="center" alt="default"> -->
          </div>
          <br>
            <h1 class="title">
              {{user.username}}'s Profile
            </h1>
            <h2 class="subtitle">
              You are user number #{{user.id}} <br>
              Buddy status: {{user.bud}} <br>
                BuddyName: {% if not user.budName == None%}
                  {{user.budName}}
              {% endif %}<br>
              Current Activity: {{user.activity}} <br>
              Streak: {{user.streak}}<br>
              <h1>About Me!</h1>
              <h1>{{user.bio}}</h1> <br>
              What I want to achieve:
              <p>{{user.achieve}}</p> <br>
              <br>

            </h2>
            <em>{{user.joke}}</em>
            <br><br>
            
            <form method="POST">
              <a href="/Questions"><button type="button" class="btn btn-outline-light">Edit Your Profile!</button></a>
              {% if user.budName == None %}
                <a href="/{{user.username}}/edit"><button type="button" class="btn btn-outline-light">Edit Your Buddy Status!!</button></a>
              {% else %}
                <a href="/profile"><input type="submit" class="btn btn-outline-light" name="button" value="removeBuddy"/></a>
              {% endif %}
              <a href="/profile"><input type="submit" class="btn btn-outline-light" name="button" value="checkin"></button></a>
            </form>
        </div>
      </div>  
    </section>
  </body>


{% endblock %}

