{% extends "base.html" %}
{% block title %}Questions Page{% endblock %}
{% block content %}
    <center>
        <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Example select</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect2">Example multiple select</label>
              <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Example textarea</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </form>
    <h1>what do you want to achieve with the self-care activities?</h1>
    <form action="#" method="post">
        <p><input type = "text" answer = "answ" /></p>
        
    </form>
    <h1>?</h1>
    <form action="#" method="post">
        <p><input type = "text" answer = "answ" /></p>
        
    </form>
    <h1>?</h1>
    <form action="#" method="post">
        <p><input type = "text" name = "answ" placeholder="Enter Answer" /></p>
        <p><input type="submit" value="submit"/></p>
    </form>
    <a class="dropdown-item" href="/login">Submit!</a>
    {% block body%} 
        
    {% endblock %}
{% endblock %}
