{% extends "base.html" %}
{% block title %}Questions Page{% endblock %}
{% block content %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='questions.css')}}">
    <div class="container" id="container">

        <form id=textBox method="POST">
            <div class="form-group">
            <label for="bio"><h3>Tell me about yourself!</h3></label>
            <textarea maxlength="100" class="form-control" id="bio" rows="2" name="bio"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1"><h3>What do you want to achieve with the self-care activities?</h3></label>
                <textarea class="form-control" id="achieve" rows="2" name="achieve"></textarea>
                </div> 

            <div class="form-group">
                <label for="joke"><h3>Tell me a joke!</h3></label>
                <textarea class="form-control" id="joke" rows="1" name="joke"></textarea>
            </div>
        
            <div class="form-group">
                <label for="pfp" id="attach">Attach a profile picture!</label>
                
                <input type="file" class="form-control-file" id="pfp" accept="image/*">
            </div>

            <!-- <a class="dropdown-item" href="/profile" method="POST">Submit</a> -->
            <a href="/profile"><input type="submit" class="btn btn-outline-light"/></a>
            
            
        </form>

        

    </div>
{% endblock %}